*
header{
    display: flex;
    justify-content: space-between; /* justificar*/
    align-items: center;
}
.contenedor{ /* Crea una rejilla con 1 fila y 4 columnas)*/
    background-color: #fff;;
}
@media(max-width:100px){
    .contenedor{
      background-color: #fff;
        }
    header{
        flex-direction: column;
        align-items: flex-start;
    }