*
header{
    display: flex;
    justify-content: space-between; /* justificar*/
    align-items: center;
}
.contenedor{ /* Crea una rejilla con 1 fila y 4 columnas)*/
    background-color: #fff;;
}    

    @media screen and (max-width: 100px){
        .contenedor{
            height: auto;
        }
        section{
            width: auto;
        }
        nav{
            display: none;
        }
    }